<div class="container">
  <h1>Admininstration panel</h1>
  <table>
    <% i=0%>
    <% @users.each do |user| %>
      <%if !user.name.nil?%>
        <% i=i+1%>
        <tr>
          <td><%=i%>.</td><td><%= link_to user.name, user_surveys_path(user) %></td>
        </tr>
      <%end%>
    <%end%>
  </table>
</div>