<div class="container">
  <p>Welcome to an interactive web-application that allows us to know ourselves better.</p>
  <p>This application is based on the famour technique that <b>Jo</b>seph Luft and <b>Harri</b>ngton Ingham developed and called the 'Johari window'.
    The principle of the technique is that you select several adjectives from a pre-defined list that you believe that they describe you.
    Then you ask several of your acquaintances to do the same and based on your answers, you can learn several things about yourself:</p>
    <p>
      <ul>
        <li>Open arena: These are aspects of yourself that are both known to yourself and to the others</li>
        <li>Hidden or Facade: These are aspects that are known to you but not to the others</li>
        <li>Blind spot: These are aspects that are known to others but not to you</li>
        <li>Unknown: These are aspects that are neither know to you nor to others </li>
      </ul>
    </p>
    <p>You can read more on the technique and on the research on the
      <a href="https://en.wikipedia.org/wiki/Johari_window" target="_blank">Johari window</a> wikipedia article.</p>

<p>So, this is an online interactive version of a Johari window. But since it's a little bit different, I decided not to call it like that
  but give it the more poetic title of 'Know thyself' which relates to the ancient Greek 'Γνώθι σεαυτό'. 'Γνώθι σεαυτό' was an aphorism given
  often by the Oracle of Delphi and <i>'is applied to those whose boasts exceed what they are.'</i> 
  <a href="http://www.stoa.org/sol-bin/search.pl?db=REAL&search_method=QUERY&login=guest&enlogin=guest&user_list=LIST&page_num=1&searchstr=gamma,333&field=adlerhw_gr&num_per_page=1" target="_blank">[1]</a></p>
  
  <p>If you have suggestions or feedback, please send me an e-mail <a href="mailto:knowthyself@eipieq.com">here</a>.</p>
  </div>