<div class="container"><h2>Welcome to the 'Know thyself' web-application</h2>

<p>Dear guest,</p>
  Welcome to the 'Know thyself' web-application! This is the place that we learn from others and become better in life. 
  If you want then to know more about you and what others think of you, then
  <% if !user_signed_in? %><%= link_to "create an account", new_user_registration_path %> and <%end%> <%= link_to "create a survey", new_survey_path %> to share among your friends.</p>
  
  <p>If you want to know more about this application, why it was created and share your feedback, check the <%= link_to "About", about_path %> page.</p>
</div>
