<h2>Welcome to the Johari Window web-application</h2>
  
<p>Here I'll put the description of Johari Window, what else is there and why am I coding an application myself.</p>

<p>But for now, a link to the <%= link_to "survey", new_answer_path%> will suffice.</p>
