<div class="container">
  <h2>Thank you!</h2>
  <p>For filling in this response and helping your friend to become a better person.</p>
  
  <p>Do you what to know more? Then read the <%= link_to 'about', about_path %>
    section and <%= link_to 'create an account', new_user_registration_path %> so that you can also learn
    from your friends</p>
  
</div>
