<div class="container">
  <h2>Response</h2>
  <p>This is what they said about you</p>
  
  <blockquote>
    <% @response.adjectives.each do |t|%>
      <%= t.word %>
    <%end%>
  </blockquote>
  <p>The person responding said you are a <b><%= @map[@response.loa]%></b></p>
</div>