<div class="container">
  <%= @survey.name %>
  
  <p> Words you have selected:</p>
  <% @survey.responses.find(:first, :conditions => "loa = 4").adjectives.each do |t| %>
    <%= t.word %>
  <%end%>
  
  <%= link_to 'Create new response', new_survey_response_path%>
  
  <% @survey.responses.find(:all, :conditions => "loa != 4").each do |r|%>
    <%= link_to r.id, "/responses/#{r.id}" %> </br>
  <%end%>
  
</div>
