<div class="container">
  <h1>Admininstration panel</h1>
  <% i=0%>
  <% @addresses.each do |address| %>
    <% if !address.email.nil? %>
      <% i=i+1 %>
      <%= puts i.to_s + '.' + address.email %><br>
    <% end %>
  <%end%>
</div>